<div class="secondary-footer">
  <div class="content-holder">
    <h4>buy you product in a simple way</h4>
    <ul class="row no-gutters">
      <li class="col-md">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Login to your account</span>
      </li>
      <li class="col-md">
        <i class="fa fa-check" aria-hidden="true"></i>
        <span>select your item</span>
      </li>
      <li class="col-md">
        <i class="fa fa-inr" aria-hidden="true"></i>
        <span>get quote</span>
      </li>
      <li class="col-md">
        <i class="fa fa-inr" aria-hidden="true"></i>
        <span>make payment</span>
      </li>
    </ul>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <img src="assets/img/logo.png" alt="logo" class="img-fluid">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab rerum autem maiores voluptate assumenda sunt pariatur, sit nemo nam, laboriosam numquam illo magni sapiente distinctio velit quo cumque earum? Perferendis!</p>
      </div>
      <div class="col-md">
        <h2>Information</h2>
        <ul>
          <li>Order</li>
          <li>Forum</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <div class="col-md">
        <h2>Store Information</h2>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Lorem ipsum dolor sit amet</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> info@gmail.com</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> Phone: +1253614666</p>
      </div>
    </div>
  </div>
</footer>
<div class="copy-right">
	<p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Brand logo. All Rights Reserved</p>
</div>