<article class="product-listing">
  <div class="container-fluid">
    <h3>Available Items</h3>
    <div class="item-holder" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
      <h4>Fastening & Joining</h4>
      <ul class="row no-gutters items">
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
      </ul>
      <button type="button" class="btn btn-primary load-more">Load More</button>
      <h4>Pipe, Tubing, Hose & Fittings</h4>
      <ul class="row no-gutters items">
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
        <li class="col-md-2">
          <div class="item">
            <img src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/bb01a003-cdae-453c-8411-150bee474e9d/1807a9b6fd492db728307005cbbe3a46b674699e_original.png" alt="item" class="img-fluid">
            <p class="item-name">Nut Bolt</p>
            <button type="button" class="btn btn-primary view-item">View Item</button>
          </div>
        </li>
      </ul>
      <button type="button" class="btn btn-primary load-more">Load More</button>
    </div>
  </div>
</article>
